body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; 
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 128px;
    left: 0;
    top: 0;
    padding: 0;
    background: #0E5D8C;
    z-index: 1000;
}

.caixaLogo {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-left: 40px;
}

.entrada {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
}

.entrada span {
    margin-right: 10px;
}

.iconeUsuarios {
    height: 45px;
}

main {
    display: flex;
    flex: 1;
    margin-top: 128px; 
}

.barra-lateral {
    background-color: #d5e8f4;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 128px; 
    bottom: 0;
    overflow-y: auto;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra-lateral ul li {
    margin-bottom: 47px;
    display: flex;
}

.icone {
    width: 15%;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

main.main-content {
    padding: 20px;
    margin-left: 220px; 
    margin-top: -1px; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloFatura {
    text-align: center;
    margin-bottom: 20px; 
    color: #0E5D8C;
}


.tabela-frequencia {
    width: 60%; 
    margin: 20px auto; 
    border-collapse: separate; 
    border-spacing: 0 20px; 
}


.tabela-frequencia th, .tabela-frequencia td {
    padding: 10px 15px; 
    text-align: center; 
    border: 1px solid #ddd; 
    background-color: #ffffff; 
    box-sizing: border-box; 
}


.tabela-frequencia th {
    background-color: #0E5D8C;
    color: white; 
}


.tabela-frequencia tbody tr {
    background-color: #E5F2FA; 
}


.tabela-frequencia tbody tr:hover {
    background-color: #ddd; 
}


.menu {
    width: 7%;
    margin-left: 5%;
    display: none;
}


@media (max-width: 768px) {
    .menu{
     width: 9%;
    }
 
    .header {
     /*flex-direction: column; */
     align-items: center;
     height: auto;
     /* padding: 10px 20px;*/
 }
 
 .caixaLogo {
         /* justify-content: space-between; */
         width: 100%;
         padding: 10px 0;
         margin-left: -3%;
 
 }
 
 .entrada span{
     margin-right: -305px;
     margin-left: -220px;
 }
 
 .logo {
     height: 45px;
     margin-left: 5px;
 }
 
 .iconeUsers{
     display: none;
 }
    
     .barra-lateral{
     display: none;
    }
 
     main.main-content {
         margin-left: 0;
         /* margin-top: 60px; */
         padding: 10px;
     }
 
     .form-section {
         width: 100%;
         max-width: none;
     }
 
     .progress-section {
         /* flex-direction: column; */
         align-items: flex-start;
         margin-left: 0;
     }
 
     .progress-chart {
         margin-top: 20px;
     }
 
     .form-row {
         flex-direction: column;
     }
 
     .form-group {
         width: 95%;
     }
 
     .form-footer {
         justify-content: center;
     }

     .tabela-frequencia{
        width: 100%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0 20px;
}
     }
 
 
 /* Estilo para telas com largura máxima de 480px (smartphones) */
 @media (max-width: 480px) {
     
 
     .progress-chart {
         width: 80px;
         height: 80px;
     }
 
     .percentage {
         font-size: 16px;
     }
 }
 