body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 128px;
    background: #0E5D8C;
}

.caixaLogo {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo {
    height: 70px;
}

.entrada {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
}

.entrada span {
    margin-right: 10px;
}

.iconeUsers {
    height: 45px;
}

.container {
    display: flex;
}

.barra-lateral {
    background-color: #d5e8f4;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 128px; 
    bottom: 0;
    overflow-y: auto;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra-lateral ul li {
    margin-bottom: 47px;
    display: flex;
}

.icone {
    width: 15%;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.btn-buscar {
    padding: 10px 20px;
    background-color: #0E5D8C;
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
}
.content {
    padding: 20px;
    flex: 1;
    background-color: #ffffff;
}

.controle-filtros{
        /* margin-right: 45px; */
        margin-left: -9px;
}

.turma {
    background: #d5e8f4;
    padding: 20px;
    border-radius: 8px;
    width: 66%;
    margin-left: 25%;
}

.turma h1 {
    color: #0E5D8C;
    margin-bottom: 20px;
}

.turma label {
    font-weight: bold;
    font-size: 18px;
}

.turma select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

.horarios {
    margin-top: 20px;
}

.horarios input {
    margin-right: 10px;
}

.horarios label {
    font-size: 16px;
}

.presenca {
    margin-top: 20px;
}

.presenca table {
    width: 100%;
    border-collapse: collapse;
}

.presenca th, .presenca td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}


.presenca th {
    background-color: #0E5D8C;
    color: white;
    font-size: 18px;
}

.presenca td {
    background-color: #d5e8f4;
}