body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 128px;
    top: 0;
    left: 0;
    padding: 0;
    background: #0E5D8C;
    z-index: 1000;
}

.caixaLogo {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-left: 40px;
}

.entrada {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
}

    .entrada span {
        margin-right: 10px;
    }

.iconeUsers {
    height: 45px;
}

nav.sidebar {
    background-color: #d5e8f4;
    width: 220px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 128px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 900;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

    .sidebar ul li {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }

.icone {
    width: 15%;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 8%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 240px; /* Espaço suficiente para a sidebar */
    margin-top: 128px; /* Espaço suficiente para o header */
    padding: 20px;
}

.controle-filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

    .controle-filtros select {
        padding: 10px;
        font-size: 14px;
    }

.btn-buscar {
    padding: 10px 20px;
    background-color: #0E5D8C;
    color: white;
    border: none;
    cursor: pointer;
}

.tabela-controle {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Ajustado para 100% da largura da área central */
    max-width: 1200px; /* Limita a largura máxima */
}

.tabela h2 {
    margin-bottom: 20px;
    color: #0E5D8C;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

.nome {
    flex: 2;
}

.situacao {
    flex: 1;
    padding: 5px;
}
