body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 128px;
    left: 0px;
    top: 0px;
    padding: 0;
    background: #0E5D8C;
}

/* .agenda {
    width: 15%;
} */

.icone {
    width: 15%;
}

.caixaLogo {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-left: 40px;
    width: 100%;
}

.entrada {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
}

.entrada span {
    margin-right: 10px;
}

.iconeUsuarios {
    height: 45px;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 128px;
}

nav.sidebar {
    background-color: #d5e8f4;
    width: 220px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 128px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 900;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

    .sidebar ul li {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }

.icone {
    width: 15%;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 8%;
}
.conteudo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.secaoFormulario {
    width: 50%;
    background-color: #e5f2fa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 5%;
    margin-left: 17%;
}

.formularioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioContainer label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

.formularioContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.secaoUpload {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.secaoUpload img {
    width: 80px;
    margin-bottom: 15px;
}

.secaoUpload span {
    font-size: 18px;
    color: #0E5D8C;
}

.formularioContainer button {
    width: 150px;
    padding: 10px;
    background-color: #0E5D8C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formularioContainer button:hover {
    background-color: #0b4a70;
}


@media screen and (max-width : 650px)
{
    .barraLateral{
        display: none;
    }

    .secaoFormulario {
        width: 80%;
        background-color: #e5f2fa;
        padding: 20px;
        border-radius: 8px;
    }
}