* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #003366;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00509e;
}



.voltar img{
    width: 5%;
}

@media screen and (max-width : 650px)
{
    main {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        width: 84%;
        max-width: 400px;
    
    }
    .voltar img {
        width: 8%;
    }
}
